version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      k8s-dependencies:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
      golang-x-deps:
        patterns:
          - "golang.org/x/*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
