name: go-apidiff

on:
  push:
    branches:
      - '**'
  pull_request:
    paths:
      - '**'
      - '!doc/**'
  merge_group:

jobs:
  go-apidiff:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
      id: go
    - name: Run go-apidiff
      id: check-api
      continue-on-error: true
      uses: joelanford/go-apidiff@main
    - name: Check for override label
      if: ${{ steps.check-api.outcome == 'failure' }}
      run: |
        if gh api repos/$OWNER/$REPO/pulls/$PR --jq '.labels.[].name' | grep -q "${OVERRIDE_LABEL}"; then
          echo "Found ${OVERRIDE_LABEL} label, overriding failed results."
          exit 0
        else
          echo "No ${OVERRIDE_LABEL} label found, failing the job."
          exit 1
        fi
      env:
        GH_TOKEN: ${{ github.token }}
        OWNER: ${{ github.repository_owner }}
        REPO: ${{ github.event.repository.name }}
        PR: ${{ github.event.pull_request.number }}
        OVERRIDE_LABEL: "go-apidiff-override"
