name: goreleaser
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request: {}
defaults:
  run:
    shell: bash
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # GoReleaser requires fetch-depth: 0 for
          # changelog generation to work correctly.
          fetch-depth: 0

      - uses: actions/setup-go@v2
        with:
          go-version: '~1.16'

      - name: "Install linux cross-compilers"
        run: sudo apt-get install -y gcc-aarch64-linux-gnu gcc-s390x-linux-gnu gcc-powerpc64le-linux-gnu gcc-mingw-w64-x86-64

      - name: "Install yq"
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/v4.10.0/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - name: "Disable image pushes for pull requests"
        if: github.event_name == 'pull_request'
        run: |
          yq eval '.dockers[].skip_push=true' -i .goreleaser.yaml
          yq eval '.docker_manifests[].skip_push=true' -i .goreleaser.yaml

      - name: "Disable the Github release upload for non-tag builds"
        if: startsWith(github.ref, 'refs/tags') != true
        run: |
          yq eval '.release.disable=true' -i .goreleaser.yaml

      - name: "Set the image tag"
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            # Release tags.
            echo IMAGE_TAG="${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            # Branch build.
            echo IMAGE_TAG="$(echo "${GITHUB_REF#refs/heads/}" | sed -r 's|/+|-|g')" >> $GITHUB_ENV
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            # PR build.
            echo IMAGE_TAG="pr-$(echo "${GITHUB_REF}" | sed -E 's|refs/pull/([^/]+)/?.*|\1|')" >> $GITHUB_ENV
          else
            echo IMAGE_TAG="$(git describe --tags --always)" >> $GITHUB_ENV
          fi

      - name: "Login to Quay"
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io


      - name: "Run GoReleaser"
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_ARGS: release --rm-dist ${{ !startsWith(github.ref, 'refs/tags') && '--skip-validate' || '' }}
